html, body {
  margin: 0;
  padding: 0;
}

.title {
  color: gray;
  padding-right: 1em;
}

.title-container {
  height: 100%;
  margin: 0;
  padding-left: 60px;
}
.green-example {
  font-size: 130%;
  color: #dcf3ed;
  padding: 2px;
  background-color: #a3a3a3;
}