.drag-menu {
  width: 200px;
  margin: 0 1em;
  padding: 0 1em;
  background: #f9f9f9;
  border: 3px lightgray solid;
}

.drag-menu__box {
  background: red;
  min-height: 30px;
  display: flex;
  align-items: stretch;

  * div > {
    height: 100%;
  }
  &:hover {
    cursor: pointer;
  }
}